<html>
<head>
    <title>Men's Retreat</title>
</head>
<body>
<h2>Men's NA Retreat facilitated by Ron Hofius</h2>
<p>
    Dates: June 14-16 2019
    <br/>
    Highlands, NC
</p>
<h3> Overview of the Retreat</h3>
<p>This event is by invitation only. It is intended for men in NA and is based upon the NA 12 steps, but it is not an NA
    event and should not be announced at meetings or in any NA context. If you have any question about whether this
    experience is appropriate for you, feel free to contact:</p>
<table style="width:100%">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>Robert Baxter</td>
        <td>Jonathan Braswell</td>
        <td>Adam Nichols</td>

    </tr>
    <tr>
        <td><a href="mailto:GAStakBoy@yahoo.com">GAStakBoy@yahoo.com</a></td>
        <td><a href="mailto:Jon.Braswell@gmail.com">Jon.Braswell@gmail.com</a></td>
        <td><a href="mailto:AdamNichols4444@gmail.com">AdamNichols4444@gmail.com</a></td>
    </tr>
    <tr>
        <td><a href=”tel:706-536-9466”>706.536.9466</a></td>
        <td><a href=”tel:404-542-9363”>404.542.9363</a></td>
        <td><a href=”tel:678-522-1391”>678.522.1391</a></td>
        
    </tr>
</table>
<p>Attendance is limited to 20 participants. The first 20 to make a payment of at least $25 are in. If more than 20 do
    so, the waiting list will be maintained in the order in which your first payment was made. Anyone on the waiting
    list who does not get to attend will receive a full refund.</p>
<p>The weekend will proceed like this: We will car pool to <a
        href="https://www.google.com/maps/place/Valley+Cafe/@34.976149,-83.383832,15z/data=!4m5!3m4!1s0x0:0xb31d5161f9dcf570!8m2!3d34.976149!4d-83.383832"
        target="new">The Valley Cafe</a> meeting there for lunch on Friday at noon, where the retreat will begin with
    that meal together. From there, we will head over to <a
            href="https://www.google.com/maps/place/The+Mountain+Retreat+%26+Learning+Center/@35.0311568,-83.2586499,17z/data=!3m1!4b1!4m5!3m4!1s0x88592004bd0a8439:0x1380262794b1862f!8m2!3d35.0311524!4d-83.2564612"
            target="new">The Mountain Retreat and Learning Center</a> to get our rooms and begin the weekend in
    earnest. The retreat requires full
    engagement with the group from beginning to end. No coming late or leaving early, no skipping any activity. It will
    be a rigorous, experiential taste of all twelve steps. There will be time for some deep and focused sharing, some
    time for quiet, including group meditation, and structured group exercises. If you sign up to come, you sign up for
    this level of commitment to the experience. This is not to be confused with &quot;working&quot; all twelve steps.
    Whatever step you are on with your sponsor when you show up, you will still be on that step when you finish. In
    between, you will have taken on an experiential process on each of the steps designed to illustrate and taste their
    impact.</p>
<h3>The Venue: The Mountain Retreat and Learning Center</h3>
<p>With gorgeous mountain views from atop Little Scaly, The Mountain is an ideal spot for the
    kind of refuge from modern life that permits for pause and introspection. While most of the retreat will take place
    inside, there will be unstructured time and perhaps a group hike. No group activity will be
    physically strenuous or challenging. Bring water and appropriate shoes for walks in this terrain. Your camera is
    likely to see lots of use. The facility will provide the meals in a common area at predetermined times. We will
    structure the retreat around this. Feel free to bring your own snacks to supplement. Please communicate any special
    dietary needs you have by e-mailing Adam Nichols. </p>
<p>Rooms are double occupancy.</p>
<h3>Cost and Payment Schedule</h3>
<p>The full cost for the retreat is $250. This covers all meals, lodging and retreat materials for the weekend. A
    deposit of $25, non-refundable except for those in the waiting line who didn't get to go, will hold your place. The
    remainder is due on site. Talk to one of us if you need some help with this registration. There are also those who
    have
    volunteered to help with this. If you are one who can help, let us know that too.</p>
<p><s>You will receive a receipt for this transaction from Paypal. Please hold onto it. I will keep track of your
    payment
    status and will communicate with you via e-mail between now and then. Make sure I have your e-mail address.</s></p>
<br/>
<br/>
<!-- <form ACTION="https://www.paypal.com/cgi-bin/webscr" METHOD=POST> -->
<form ACTION="https://www.sandbox.paypal.com/cgi-bin/webscr" METHOD="POST">
    <input type="hidden" name=cmd value="_xclick">
    <!-- <input type="hidden" name=business value="jon.braswell@gmail.com"> -->
    <input type="hidden" name="business" value="jon.braswell+retreat@gmail.com">
    <input type="hidden" name="no_note" value=1>
    <input type="hidden" name="currency_code" value=USD>
    <input type="hidden" name="notify_url" value="http://retreat.jbraz.com/ipn/">
    Your Name: <input type=text name="item_name" size=25 value="">
    <br/>
    <br/>
    Pay this amount to hold my place: $25
    <input type=hidden name=amount value="25.00">
    <br/>
    <br/>
    <input type=submit name=submit value="Pay now by Paypal">
</form>
</p>
</body>
</html>
