<html>
<head>
    <title>Men's Retreat</title>
</head>
<body>
<h2>Men's NA Retreat facilitated by
  Ron Hofius</h2>
<p> Dates: September 9, 10 and 11, 2016 <br />
  Jemez Springs, NM</p>
<h3>  Overview of the Retreat</h3>
<p>This event is by invitation only. It is intended for men in NA and is based upon the NA 12 steps, but it is not an NA event
and should not be announced at meetings or in any NA context. If you have any question about whether this experience is appropriate for you, feel free to <a href="mailto:ron.hofius@gmail.com">contact me</a> (Ron) to discuss. Attendance is limited to 20 participants. The first 20 to make a payment of at least $25 are in. If more than 20 do so, the waiting list will be maintained in the order in which  your first payment was made. Anyone on the waiting list who does not get to attend will receive a full refund.</p>
<p>The weekend will proceed like this: We will car pool to <a href="https://www.google.com/maps/place/Jemez+Stage+Stop/@35.7706863,-106.6910343,3a,60y,90t/data=!3m6!1e1!3m4!1swDGlSMt-0yZti_JS2WhiEQ!2e0!7i13312!8i6656!4m5!3m4!1s0x0:0xad1d65e1e5dcf741!8m2!3d35.7707881!4d-106.6911674!6m1!1e1" target="new">The Jemez Stage Stop Cafe</a> right in the village of Jemez Springs, meeting there for lunch on Friday at noon, where the retreat will begin with that meal together. From there, we will head over to <a href="http://thefitzgeraldcenter.org/" target="new">The Fitzgerald Center</a> to get our rooms and begin the weekend in earnest.
  The retreat requires full engagement with the group from beginning to end. No coming late or leaving early, no skipping any
activity. It will be a rigorous, experiential taste of all twelve steps. There will be time for some deep and focused sharing, some time for quiet, including group meditation, and structured group exercises. If you sign up to come, you sign up for this level of commitment to the experience. This is not to be confused with &quot;working&quot; all twelve steps. Whatever step you are on with your sponsor when you show up, you will still be on that step when you finish. In between, you will have taken on an experiential process on each of the steps designed to illustrate and taste their impact.</p>
<h3>The Venue: The Fitzgerald Center in Jemez Springs
</h3>
<p>This stretch of the Jemez Mountains is  spectacular. It's about an hour's drive from Albuquerque, or maybe figure an hour and a half to the airport. While most of the retreat will take place inside, there will be unstructured time and maybe a group hike in this classic New Mexico multi-colored high desert landscape. No group activity will be physically strenuous or challenging.  Bring water and appropriate shoes for walks in this terrain, and your camera is likely to see lots of use. The facility will provide the meals in a common area at predetermined times. We will structure the retreat around this. Feel free to bring your own snacks to supplement. Please communicate any special dietary needs you have to me by e-mail. </p>
<p>Everyone will have your own single-occupancy room.</p>
<h3>Cost and Payment Schedule
</h3>
<p>The full cost for the retreat is $180. This covers all meals, lodging and retreat materials for the weekend.
  A  deposit of $25, non-refundable except for those in the waiting line who didn't get to go, will hold your place. The remainder is due on site.  Talk to me if you need some help with this registration. There are also those who have volunteered to help with this. If you are one who can help, let me know too.</p>
<p>You will receive a receipt for this transaction from Paypal. Please hold onto it. I will keep track of your payment status and will communicate with you via e-mail between now and then. Make sure I have your e-mail address. Though this paypal account is associated with a different address, my preferred e-mail is <a href="mailto:ron.hofius@gmail.com">ron.hofius@gmail.com</a>. <br />
  <br />
<!-- <form ACTION="https://www.paypal.com/cgi-bin/webscr" METHOD=POST> -->
<form ACTION="https://www.sandbox.paypal.com/cgi-bin/webscr" METHOD="POST">
    <input type="hidden" name=cmd value="_xclick">
    <!-- <input type="hidden" name=business value="jon.braswell@gmail.com"> -->
    <input type="hidden" name="business" value="jon.braswell+retreat@gmail.com">
    <input type="hidden" name="no_note" value=1>
    <input type="hidden" name="currency_code" value=USD>
    <input type="hidden" name="notify_url" value="http://retreat.jbraz.com/ipn/">
    Your Name: <input type=text name="item_name" size=25 value="">
    <br />
    <br />
    Pay this amount to hold my place: $25
    <input type=hidden name=amount value="25.00">
    <br />
    <br />
    <input type=submit name=submit value="Pay now by Paypal">
</form>

</p>
</body>
</html>